<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head")  %>
<body>
    <%- include("partials/header") %>
    <main>
        <section class="articulos-principales">
            <div class="articulo-item">
                <img src="./images/abono-organico.jpg" alt="">
                <a href="/product/1">Abono orgánico para hortalizas</a>
            </div>
            <div class="articulo-item">
                <img src="./images/fertilizante.jpg" alt="">
                <a href="product/2">Fertilizante liquido</a>
            </div>
            <div class="articulo-item">
                <img src="./images/herbicida-atrina.jpg" alt="">
                <a href="product/3">Herbicida de origen natural</a>
            </div>
            <div class="articulo-item">
                <img src="./images/insecticida-organico.jpg" alt="">
                <a href="product/4">Insecticida Orgánico</a>
            </div>
            <div class="articulo-item">
                <img src="./images/solucion-para-fertilizantes.jpg" alt="">
                <a href="product/5">Cinnacar Insecticida Orgánico</a>
            </div>
        </section>
    </main>
    <%- include("partials/footer") %>
</body>
</html>